.gameArea {
    width: 100vw;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(2, 95, 44);
    height: 60vh;
    width: 80vw;
    border-radius: 20rem;
    border: 5px solid rgba(0, 0, 0, 0.336);
    overflow: hidden;
}


.gameControls {
    display: flex;
    justify-content: space-around; 
    padding: 10px; 

    color: white; 
    z-index: 100; 
}

.gameState {
    font-size: 2rem; 
    font-weight: bold;
    color: white; 
    position: absolute; 
    top: 5%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.button {
    cursor: pointer;
    margin: 0.5rem; 
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    border: none; 
    border-radius: 5px; 
    background-color: #4CAF50; 
    color: white; 
    transition: background-color 0.3s;
}






.communityCardsContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1rem;
    border-radius: 1rem;
}
.showdownResultContainer {
    position: absolute;
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%); 

    padding: 1rem; 

    z-index: 200; 
}
.gameState {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.753);
}
.winnerText {
    margin-top: 25%;
    margin-bottom: 0;
}
.dealCardsBtn {
    position: absolute;
    bottom: 5%;
    cursor: pointer;
    margin: 0.5rem; 
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    border: none; 
    border-radius: 5px; 
    background-color: #4CAF50; 
    color: white; 
    transition: background-color 0.3s; 
}
.cardBack {
    margin-top: 15%;
    width: 48px;
    height: 68px; 
    background-color: red; 
    border: 2px solid white; 
    border-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.cardBacks {
    display: flex;
    gap: 3px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.newHandBtn {
    position: absolute;
    top: 85.5%;
    right: 41.5%;

    cursor: pointer;
    margin: 0.5rem; 
    padding: 0.5rem 1rem; 
    font-size: 1rem; 
    border: none; 
    border-radius: 5px; 
    background-color: #4CAF50; 
    color: white; 
    transition: background-color 0.3s; 
}
.potContainer {
    position: fixed;
    bottom: 35%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.playerContainers {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .player1Container {
    top: 12vh;
    left: 12vw;
  }

  .player2Container {
    bottom: 12vh;
    right: 12vw;
  }
  .player1Container, .player2Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15vw; /* Adjust the width to make it more rectangular */
    height: 22vh;
    background-color: #00000086;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute; /* Allows positionContainer to overlap cards */
  }
  
  .playerName {
    display: flex;
    position: absolute;
    top: 0; /* Moves the position halfway */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    height: 25%;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  
  .cardContainer {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 46%; /* Moves the position halfway */
    left: 50%;
    transform: translate(-50%, -50%);

  }
  
 

  
  .positionContainer {
    display: flex;
    position: absolute;
    top: 92%; /* Moves the position halfway */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    height: 15%;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
  }
  
  .position {
    display: flex;
    color: #ffffff;
    text-align: center;

  }
  
  .bar-container {
    text-align: center;
    width: 35vw;

}
.progressBar {
    width:100%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    margin-bottom: 10px;
}
.progressBarFill{
    display: flex;
    height: 100%;
    border-radius: 10px;
    background-color: green;
    transition: width 0.5s ease-out;
    align-items: center;
    justify-content: center;
}
.progressLabel {
    font-size: 25px;
    font-weight: bold;
    color: white;

}