.container {

    width: 35vw;

}
.progressBar {
    width:100%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(255, 0, 0);
    margin-bottom: 10px;
}
.progressBarFill{
    display: flex;
    height: 100%;
    border-radius: 10px;
    background-color: green;
    transition: width 0.5s ease-out;
    align-items: center;
    justify-content: center;
}
.progressLabel {
    font-size: 25px;
    font-weight: bold;
    color: white;

}